.fImg {
    width: 250px;
    border-radius: 30px;
}

.f-text {
    font-weight: 500;
    padding-top: 50px;
    margin-bottom: 80px;
    font-family: sans-serif;
}

.btn-show {
    border: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "Montserrat", Sans-serif;
    background-color: #E98F16;
    background-image: none;
    border-radius: 30px 30px 30px 30px;
    padding: 20px 60px 20px 60px;
    color: white;
    font-weight: 600;
}

hr {
    padding: 1px;
    font-weight: 700;
    width: 80%;
    text-align: center;
}