.gImg {
    width: 80%;
}

.submit {
    margin-top: 40px;
    color: white;
    font-weight: 600;
    border: 0px;
    font-family: "Montserrat", Sans-serif;
    background-color: #E98F16;
    background-image: none;
    border-radius: 30px 30px 30px 30px;
    padding: 20px 60px 20px 60px;
}

.gr {
    margin-top: 100px !important;
    margin-bottom: 50px;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .global-row {
        display: grid;
        grid-template-columns: auto;
    }

    .gImg {
        width: 80%;
        margin-bottom: 2rem;
    }
}