.histroy {
    margin-top: 100px;
}

.tion {
    color: #EE751D;
    font-family: "Noto Sans", Sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.histroy-part {
    margin-top: 50px;
    margin-bottom: 30px;
}